a {
  color: #fff;
  text-decoration: none;
}

article {
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  padding: 10px;
  text-align: left;
  min-height: 100vh;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
}

article.briefhistory {
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


article.extracontent {
  min-height: 100vh;
}

article.oldynew {
  min-height: 100vh;
  overflow: hidden;
}

article.welcome {
    text-align: center;
    padding: 10px;
    background-image: url(../resources/images/wine.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    margin: 100px 3px 150px 3px;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
}

body {
  background-image: url(../resources/images/background.jpg);
  background-color: black;
}

div.imgOverlay {
  background-image: url(../resources/images/firstpageimg1.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

div.imgbox {
  display: flex;
  justify-content: center;
  object-fit: contain;
}

div.mapcontainer {
  display: flex;
  justify-content: flex-start;
}

form.form {
  margin-top: 20%;
}

h3 {
  color: white;
  font-family: Snell Roundhand, cursive;
  font-size: 60px;
  animation-name: curlyfadein;
  animation-duration: 5s;
  margin-top: 0px;
}

h4 {
  color: white;
  font-family: Snell Roundhand, cursive;
  font-size: 50px;
  margin-top: 3%;
  margin-bottom: 3%;
}

h5 {
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

input[type="radio"] {
  position: absolute;
  top:0;
  left: -9999999px;
}

input[type="radio"]:checked~label {
  background-image: url(../resources/images/buttonbackground.jpg);
}

label {
  background-color: #313131;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 40px;
  border:  1px solid;
  border-color: #ffff;
}

label:hover {
  cursor: pointer;
}

ol {
  list-style-type: upper-roman;
  list-style: inherit;
  padding: 20px;
}

p {
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p.fade {
  animation-name: fadein;
  animation-duration: 3s;
  margin-top: 32vh;
  font-size: 40px;
  }

p.submap {
  font-size: 15px;
  text-align: left;
}

p.subtext {
  font-size: 20px;
}

ul > li {
  height: 40px;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
}

.dropdown li{
  background: #313131;
  display: none;
}

.dropdown li:hover {
  background-image: url(../resources/images/buttonbackground.jpg);
}

.flexboxsurround {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.form fieldset {
  border: none;
}

.form p {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin: 100px;
  border-style: ridge;
}

.form ul {
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.nav {
  display: inline-block;
  text-align: center;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.nav li:hover {
  background-image: url(../resources/images/buttonbackground.jpg);
}
  .nav li:hover > .dropdown {
    perspective: 1000px;
  }
    .nav li:hover > .dropdown li {
      transform-origin: top center;
      opacity:  0;
      display: block;
    }
      .nav li:hover > .dropdown li:nth-child(1) {
        animation: animate 300ms ease-in-out forwards;
        animation-delay: -150ms;
      }
      .nav li:hover > .dropdown li:nth-child(2) {
        animation: animate 300ms ease-in-out forwards;
        animation-delay: 0ms;
      }
      .nav li:hover > .dropdown li:nth-child(3) {
        animation: animate 300ms ease-in-out forwards;
        animation-delay: 150ms;
      }

.nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;;
  background: #313131;
  color: #fff;
  width: 1000px;
  text-transform: uppercase;
  font-weight: 900;
}
  .nav > ul > li {
    position: relative;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
  }

.tasteprofiletext {
  padding-right: 80px;
}

@media only screen and (max-width: 980px) {
  article {
    min-height: auto;
    padding: 40px;
    font-size: 18px;
  }
  article.welcome {
    display: block;
    flex-direction: column;
  }
  div.flexboxsurround {
    display: flex;
    flex-direction: column-reverse;
  }
  div.imgbox {
    width: auto;
    justify-content: space-around;
  }
  div.mapcontainer {
    display: inline;
  }
  p.tasteprofiletext {
    font-size: 40px;
  }
  #profileimg {
    width: 50%;
  }
  .nav {
    top: 2%;
  }
  .nav > ul > li {
    height: 120px;
    line-height: 150px;
  }
  }

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes curlyfadein {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#bottlesGrapes {
  float: right;
  width: 40%;
  padding-left: 30px;
  padding-bottom: 50px;
}

#bottomtag {
  text-align: center;
  font-size: 15px;
  margin: 30px;
}

#francemap {
  position: relative;
  top: 0;
  left: 0;
}

#imgOne {
  position: relative;
  margin-right: 1px;
  width: auto;
  height: 700px;
  z-index: -10;

}

#makeChoice {
  height: 100px;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-image: url(../resources/images/background.jpg);
  border-style: solid;
  border-width: thick;
  color: white;
  cursor: pointer;
}

#resultsBox {
  font-size: 40px;

}

#tasteprofile {
  margin-left: 7%;
  margin-top: 10%;
}

#videoswirl {
  display: block;
  margin: 50px auto 300px auto;
  width: 25%;
  padding: 10px;
}
