/* Colour Theme -
Mustard - #FCBD10
Darker Mustard - #D6A710
Grey - #9E9D9D
Dark Grey - #161616
Purple - #55398E
*/

a {
    text-decoration: none;
}

body {
  font-family: "Helvetica", "Verdana", sans-serif;
  letter-spacing: 2px;
  margin: 0 0 -10% 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 30%;
  margin-bottom: 5%;
  margin-top: 5%;
  border: 2px solid #55398E;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

html {
  scroll-behavior: smooth;
}

label {
  width: 80%;
}

p {
  font-weight: normal;

}

section {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.about_me {
  text-align: left;
  font-size: 16px;
  color: #FFFFFF;
}

.about_line {
  border: 0.3px solid grey;
  width: 20%;
}

.about_img {
  width: 300px;
}

.about_row {
  display: flex;
  padding: 10px;
}

.about_wrapper_div {
  background: #161616;
}

.awesome_link {
  text-decoration: none;
  font-size: 18px;
  color: #FCBD10;
  cursor: pointer;
  transition-duration: 2s;
}

.awesome_link:hover {
  animation-name: flash;
  animation-duration: 1s;
}

.colour_one {
  border-bottom: 8px solid #FCBD10;
  background: #FFFFFF;
}

.colour_two {
  background: #161616;
  color: #FFFFFF;
  border-bottom: 8px solid #FCBD10;
}

.colour_three {
  border-bottom: 8px solid #161616;
  background: #FFFFFF;
}

.contact {
  color: #161616;
  text-align: center;
}

.contact > p {
  padding: 2%;
  font-size: 18px;
  font-weight: bold;
  color: #D6A710;
}

.contact_logo_wrapper {
  width: 30%;
  margin: auto;
}

.contact_wrapper_div {
  background: #FCBD10;
}

.form_child {
  width: 100%;
  border: none;
  border-bottom: 2px solid #55398E;
  margin: 5px 0 5px 0;
  background-color: #FFFFFF;
  height: 25px;
  font-family: "Helvetica", "Verdana", sans-serif;
  letter-spacing: 2px;
}

.form_child:focus {
  outline: none;
  box-shadow: 0px 0px 10px #9E9D9D;
}

.form_submit {
  border: 3px solid #FCBD10;
  border-radius: 15px;
  margin: 15px 0px 15px 0px;
  background-color: #FFFFFF;
  width: 150px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.8s;
  font-weight: bold;
}

.form_submit:hover {
  background: #FCBD10;
}

.form_textarea {
  height: 100px;
}

.form_wrapper {
  background-color: #FFFFFF;
  margin: 2% 25% 2% 25%;
  padding: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.heading {
  text-align: left;
  margin: 20px -5.5% 2px 35%;
  padding: 20px;
  cursor: default;
}

.hello {
  animation-name: slide_in;
  animation-duration: 1.5s;
  margin: 25px auto 0 auto;
  width: 150px;
  cursor: default;
}

.hello:hover {
  animation-name: slide_in1;
  animation-duration: 1.5s;
}

.home {
  text-align: center;
}

.home_message {
  height: 230px;
  margin: 10% 30% 20% 30%;
  z-index: 2;
  padding: 12px;
}

.home_message > p {
  cursor: default;
}

.home_wrapper_div {
  height: 100vh;
}

.img_container {
  padding: 40px;
}

.logo {
  height: 40px;
  width: auto;
  padding: 5px;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.logos > img {
  height: 100px;
  width: auto;
}

.mobile_menu_burger {
  display: none;
}

.particle_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.particle {
  height: 20px;
  width: 20px;
  background: #55398E;
  opacity: 0;
  transition: opacity 0.3s ease 8s, transform 2s ease;
  transform: scale(1.1);
}

.particle:hover {
  opacity: 1;
  transition: opacity 0.04s ease;
  transform: scale(1.04);
}

::placeholder {
  color: #9E9D9D;
}

.project {
  text-align: left;
  padding: 2px;
  font-size: 14px;
  width: 480px;
  transition: 500ms ease;
  -webkit-transition: all 500ms ease;
  margin-bottom: 15px;
}

.project:hover {
  box-shadow: 0px 0px 20px #55398E;
}

.projects {
  background: #FFFFFF;
}

.projects_button_link {
  border: 5px solid #FCBD10;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  width: 250px;
  padding: 5px;
  cursor: pointer;
  transition-duration: 0.8s;
}

.projects_button_link:hover {
  background: #FCBD10;
}

.projects_button_link:hover .projects_button_arrow {
  animation-name: arrow_spin;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.projects_button_arrow {
  margin: auto 10px auto 0;
  font-size: 30px;
  flex: 20%
}

.projects_button_child {
  flex: 80%;
}

.project_img {
    height: auto;
    width: 480px;
}

.project_text {
  position: relative;
  width: 480px;
}

.project_text a {
  text-decoration: underline;
}

.sub_heading {
  width: 80%;
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
  color: #FCBD10;
}



/* Gallery Lightbox */
.row > .modal_column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal_column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #161616;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.modal_thumb {
  height: 120px;
  width: auto;
}

.modal_img {
  height: 480px;
  width: auto;
  margin: 0 0 0 10%;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 1000;
}

.close:hover,
.close:focus {
  color: #FCBD10;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #FCBD10;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.modal_img {
  margin-bottom: -4px;
}

.caption-container {
  background-color: #161616;
  color: white;
  font-family: "Helvetica", "Verdana", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
    border-bottom: 2px solid #55398E;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* Nav bar  */
.nav_bar {
	margin: 0;
	padding: 0;
	list-style-type: none;
  font-size: 20px;
}
ul{
	display: flex;
	width: 100%;
	height: 6%;
  align-items: flex-start;
	text-align: center;
  background: #161616;
  border-bottom: 5px solid #55398E;
  font-weight: bold;
}
li {
	padding: 20px 20px 20px 20px;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
  transition-duration: 0.8s;
}

li:hover {
  background-size: 100% 100%;
  background-color: #FCBD10;
  color: #161616;

}
li:active {
  transform: translateY(4px);
}

/* Class Added In JS For NavBar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 63px;
}
.sticky + .content {
  padding-top: 60px;
}



/* Responsive/Mobile Styles */
@media only screen and (max-width: 800px) {

  * {
    box-sizing: border-box;
    max-width: 100%;
    max-width: 100%;
  }

  html {
    margin: 0;
  }

  body {
    margin: 0;
  }

  .about_row {
    display: flex;
    flex-direction: column;
  }

  .particle_box {
    display: none;
  }

  .about_me {
    text-align: center;
    width: 80%;
  }

  .form_wrapper {
    margin: 2% 20% 2% 0%;
  }

  .home_message {
    margin: 20% 0 0 0;
    height: 90vh;
  }

  .heading {
    margin: 0 0 0 0;
  }

  .img_container {
    margin: auto;
  }

  .logos {
    justify-content: space-around;
    width: 80%;
    margin-left: 0;
  }

  .logos > img {
    height: 30px;;
    width: auto;
  }

  .project {
    width: 80%;
  }

  .project_img {
    width: 80%;
    height: auto;
  }

  .project_text {
    width: 80%;
  }

  .mobile_menu_burger {
    display: inline-block;
    position: sticky;
    top: 6%;
    font-size: 30px;
    cursor: pointer;
    background-color: #9E9D9D;
  }

  .modal {
    width: 85%;
    padding-top: 35%;
  }

  .modal_thumb {
    height: auto;
    width: 30%;
  }

  .modal_img {
    height: auto;
    width: 80%;
    margin: 0 0 0 10%;
  }

  .overlay {
    width: 85%;
  }

  .nav_bar {
    display: none;
  }

  .sub_heading {
    margin: 0;
  }

  .wrapper_div {
    width: 80%;
  }
}

/* Animation Keyframes */
@keyframes arrow_spin {
  3% {
    opacity: 0;
  }
  5% {
    opacity: 50%;
    transform: rotate(0deg);
  }
  10% {
    opacity: 100%;
  }
  30% {
    transform: scale(1,1.5);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes flash {
  from {color: #161616;}
  to {color: #FCBD10;}
}

@keyframes slide_in {
    0% {
      opacity: 0;
      color: #161616;
    }
    10% {
      color: #55398E;
    }
    25% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    60% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    75% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    85% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
        color: #55398E;
    }
    95% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        color: black;
    }
}

@keyframes slide_in1 {
    0% {
      opacity: 0;
      color: #161616;
    }
    10% {
      color: #55398E;
    }
    25% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    60% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    75% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    85% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
        color: #55398E;
    }
    95% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        color: black;
    }
}

/* Mobile Nav Menu Styles */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #55398E;
  background-color: #161616;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #9E9D9D;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #9E9D9D;
  background: #55398E;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  z-index: 1000;
  }
}
